.text-color {
    color: rgb(230, 230, 230);
}

h5 {
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: rgb(230, 230, 230);
}

h6 {
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    color: rgb(230, 230, 230);
}

h3 {
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: rgb(230, 230, 230);
}

h4 {
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(230, 230, 230);
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-500 {
    transition-duration: 500ms;
}

.translate-x-full {
    transform: translateX(100%);
}

.translate-x-0 {
    transform: translateX(0);
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
