---
import Button from "../ui/Button.astro";
import DiscordLogo from "../symbols/DiscordLogo.astro";
---
<div class="flex justify-between items-center container">
    <p>SereneFields</p>
    <Button content="DISCORD" classes="bg-discord-blurple hover:bg-discord-blurple-lighter shadow-lg gabarito-700 tracking-looser m-2 px-4"><DiscordLogo/></Button>
</div>
