---
import Button from "../ui/Button.astro";
---
<div class="flex justify-between items-center container">
    <p>SereneFields</p>
    <Button content="DISCORD" classes="bg-discord-blurple shadow-lg comfortaa-700 tracking-tight m-2"/>
</div>
