---
// @ts-nocheck
import Button from "../ui/Button.astro";
import MenuItem from "../ui/MenuItem.astro";
import ClipboardField from "../ui/ClipboardField.astro";
---
<header>
    <div class="block lg:flex lg:justify-between lg:items-center lg:container">
        <ClipboardField text="play.serenefields.com"/>
        <div class="flex justify-center items-center gap-8 pt-5 lg:pt-0">
            <!--<Button content="HOME" logo="HomeLogo" classes="bg-space-cadet hover:bg-space-cadet-lighter gabarito-800 tracking-looser m-2 px-4"></Button>-->
            <!--<Button content="ABOUT" classes="bg-space-cadet hover:bg-space-cadet-lighter gabarito-800 tracking-looser m-2 px-4"></Button>-->
            <!--<Button content="STORE" logo="StoreLogo" classes="bg-amber-600 hover:bg-amber-500 gabarito-800 tracking-looser m-2 px-4"></Button>-->
            <MenuItem content="HOME" logo="HomeLogo" href="/" classes="m-2 px-4"></MenuItem>
            <MenuItem content="STORE" logo="StoreLogo" href="/store" classes="m-2" px-42></MenuItem>
            <MenuItem content="ABOUT" logo="AboutLogo" href="/about" classes="m-2 px-4"></MenuItem>
        </div>
        <div class="flex items-center justify-center pt-5 lg:pt-0">
            <Button content="DISCORD" href="https://discord.gg/44cc8ary4x" logo="DiscordLogo" classes="bg-discord-blurple hover:bg-discord-blurple-lighter gabarito-800 tracking-looser m-2 px-4"></Button>
        </div>
    </div>
</header>

<style>
    p {
        font-family: 'Gabarito', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: rgb(230, 230, 230)
    }

    .copied {
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const clipButton = document.getElementById('clip');
        const ipElement = document.getElementById('ip');

        if (clipButton && ipElement) {
            clipButton.addEventListener('click', () => {
                if (ipElement) {
                    navigator.clipboard.writeText(ipElement.innerText)
                        .then(() => {
                            ipElement.innerText = 'Copied!';
                            setTimeout(() => {
                                ipElement.innerText = "play.serenefields.com";
                            }, 1000);
                        })
                        .catch(err => {
                            console.error('Failed to copy text:', err);
                        });
                }
            });
        } else {
            console.error('Element with ID "clip" or "ip" not found.');
        }
    });
</script>
