---
import '@/assets/styles/globals.css';
import '@/assets/styles/tailwind.css';
import MainLayout from "@/layouts/MainLayout.astro";
import PresentationCard from "../components/ui/presentationcard.tsx";
import PresentationText from "../components/ui/PresentationText.astro";
---
<MainLayout title="About Us" class="min-h-[100vh]">
    <PresentationText/>
    <p class="font-bold text-7xl mt-8 text-center text-[#d6d6d6">Meet The Team</p>
    <div>
        <PresentationCard client:load/>
    </div>
</MainLayout>
