---
import '@/assets/styles/globals.css';
import '@/assets/styles/tailwind.css';
import MainLayout from "@/layouts/MainLayout.astro";
import PresentationCard from "../components/ui/PresentationCard.astro";
---
<MainLayout title="About Us">
    <div class="min-h-[100vh]">
        <PresentationCard/>
    </div>
</MainLayout>
