---
import '@/assets/styles/globals.css';
import '@/assets/styles/tailwind.css';
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/image/hero_image.png";
import HeroCarousel from "../components/widgets/hero-carousel";
import WideTab from "../components/ui/WideTab.astro";
---
<MainLayout class="min-h-screen">
	<div class="flex justify-center items-center mt-12 container">
		<Image src={heroImage} alt="Test" class="h-fit rounded-xl border-2"/>
	</div>
	<WideTab text="Test" placement="left"/>
	<WideTab text="Test" placement="center"/>
	<WideTab text="Test" placement="right"/>
	<div class="flex justify-center items-center container mt-12">
		<HeroCarousel client:load/>
	</div>
</MainLayout>

<style>
	p {
		font-family: 'Gabarito', sans-serif;
		font-weight: 700;
		color: rgb(230, 230, 230)
	}
	.thick-font {
		font-family: 'Gabarito', sans-serif;
		font-weight: 900;
	}
	.tab-noise-irongrip {
		background: url('../assets/image/iron-grip.png');
	}

	.tab-noise-asfalt {
		background: url('../assets/image/cutcube.png');
	}

</style>
