---
import '@/assets/styles/globals.css'
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
	<div class="flex justify-center items-center">
		<p class="text-lg">Astro</p>
	</div>
</MainLayout>
