---
import '@/assets/styles/globals.css';
import '@/assets/styles/tailwind.css';
---
<div class="bg-black min-h-[100vh] w-full">
    <p class="text-white text-center text-4xl font-bold py-10">Send a private message to peter3536 on Discord saying exactly this: </p>
    <p class="text-white text-center text-4xl font-bold py-10">"From the depths of SereneFields, I have emerged victorious. 'The hidden path has been unveiled."</p>
</div>
