---
const { title, description } = Astro.props;
---
<div class="container mx-auto mb-8">
    <div class="text-color p-8 rounded-xl">
        <h1 class="text-center mb-4 text-4xl font-semibold">{title}</h1>
        <p class="text-center text-xl font-normal">{description}</p>
    </div>
</div>

<style>
    .text-color {
        color: rgb(230, 230, 230);
    }
    h1, p {
        font-family: 'Gabarito', sans-serif;
    }
</style>
