---
import ProductCard from "./ProductCard.astro";
const { products } = Astro.props;
---
<div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {products.map(product => {
        // Debug line for products
        <!--console.log('Product in Grid:', product);-->
        return (
                <ProductCard
                    {...product}
                    base_price={product.base_price}
                    total_price={product.total_price}
                    currency={product.currency}
                />
        );
    })}
</div>
