---
const text = "SereneFields is a farming simulator inside a Minecraft server, infused with elements similar to Stardew Valley. \n" +
    "\n" +
    "For those who want to catch a break from the stress of everyday life, escape to your very own farm! Find joy in growing your plants, catch unique fishes or become friends with the townsfolk... and much more! \n"
---
<div class="container mx-auto mb-8">
    <div class="text-color p-8 rounded-xl">
        <h1 class="text-center mb-4 text-4xl md:text-7xl font-semibold">What is SereneFields?</h1>
        <p class="text-justify text-lg md:text-2xl font-normal"> {text} </p>
    </div>
</div>

<style>
    .text-color {
        color: rgb(230, 230, 230);
    }
    h1, p {
        font-family: 'Gabarito', sans-serif;
    }
</style>
