---
import Header from "../components/widgets/Header.astro";
import Footer from "../components/widgets/Footer.astro";
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="SereneFields, A Minecraft Server! Farming, fishing, socialising!" />
        <meta property="og:title" content="SereneFields" />
        <meta property="og:description" content="A Stardew Valley inspired Minecraft server. Create your own farm, collect produce, socialise!" />
        <meta property="og:url" content="https://www.serenefields.com" />
        <meta property="og:type" content="website" />

        <meta property="og:image" content="https://www.serenefields.com/images/og.png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:image:alt" content="SereneFields" />
        <title>
            {
            title && (
                `${title} | SereneFields`
            )
            }
            {
            !title && (
                `SereneFields`
            )
            }
        </title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    </head>
    <body class="bg-space-cadet-lighter min-h-[100vh]">
        <main>
            <Header title="{{ title }}" />
            <slot/>
            <Footer />
        </main>
    </body>
</html>
