---

import {twMerge} from "tailwind-merge";
import ClipboardLogo from "../symbols/ClipboardLogo.astro";

const { text, innerClasses, outerClasses } = Astro.props;
---
<div class={twMerge(outerClasses, 'bg-dark-green', 'rounded-lg', 'p-2.5', 'flex', 'justify-center', 'items-center', 'cursor-pointer')}>
    <span id="ip" class={twMerge(innerClasses, 'bg-dark-green-lighter', 'text-lg', 'text-center', 'p-0.5', 'px-6','rounded-lg', 'tracking-widest', 'w-5/6')}>
        { text }
    </span>
    <span id="clip" class="pl-2"><ClipboardLogo/></span>
</div>

<style>
    span {
        font-family: 'Gabarito', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: rgb(230, 230, 230)
    }
    span:hover {
        color: rgb(255, 255, 255);
    }

    #ip {
        width: 180px;
    }
</style>
