---
const { content, logo, href } = Astro.props;

import HomeLogo from "@/components/symbols/HomeLogo.astro";
import StoreAltLogo from "@/components/symbols/StoreAltLogo.astro";
import StoreLogo from "@/components/symbols/StoreLogo.astro";
import DiscordLogo from "@/components/symbols/DiscordLogo.astro";
import Chevron from "@/components/symbols/Chevron.astro";
import AboutLogo from "@/components/symbols/AboutLogo.astro";

const symbols = {
    Chevron,
    StoreLogo,
    StoreAltLogo,
    DiscordLogo,
    HomeLogo,
    AboutLogo
}

// @ts-ignore
const LogoSymbol = symbols[logo];

---
<div class="flex items-center justify-center">
    {
        logo && href && (
                    <span slot="logo"><a href={href}><LogoSymbol/></a></span>
        )
    }
    {
        href && (
                    <span class="ml-2 hidden md:block"><a href={href}>{content}</a></span>
        )
    }
</div>

<style>
    span {
        font-family: 'Gabarito', sans-serif;
        font-weight: 500;
        font-size: 1.25rem;
        color: rgb(230, 230, 230)
    }
    span:hover {
        color: rgb(255, 255, 255)
    }

</style>
