---
---
<div class="container mx-auto mb-8">
    <div class="text-color p-8 rounded-xl">
        <h1 class="text-center mb-4 text-7xl font-semibold">What is SereneFields?</h1>
        <p class="text-justify text-2xl font-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed dapibus sem. Curabitur laoreet rutrum lectus, ut pretium ligula fermentum id. Sed nec mollis metus. Curabitur ut efficitur ipsum. Praesent ultrices ut tellus sed venenatis. Mauris egestas ante ac odio finibus, eget aliquet nibh aliquam. Morbi laoreet nec nulla ac viverra. Maecenas ac nibh tempor metus ornare ornare eu et dui. Nulla quis mi placerat, elementum lacus ac, porttitor sem. Quisque convallis rhoncus erat, in euismod sem aliquet in. In at felis euismod, gravida ex vel, vehicula dolor.<br><br>
            Nam ornare quis neque id tristique. Nunc facilisis quam a rutrum interdum. Curabitur ultrices tempor sagittis. Morbi viverra malesuada dui, sed tempor tellus cursus sit amet. Donec efficitur lobortis ipsum sit amet mattis. Vestibulum felis eros, maximus vel ante sit amet, accumsan imperdiet ante. Cras cursus hendrerit volutpat. Cras vitae elit ut sem laoreet commodo. Ut non aliquet nisi, vel rhoncus quam. Proin malesuada aliquam tortor, eu luctus metus condimentum nec. Morbi suscipit tortor leo, eget dictum neque congue vel. Fusce sed arcu sagittis, luctus nisi non, volutpat justo. Donec justo dui, aliquam a varius sit amet, tincidunt sit amet nulla.<br><br>
            Suspendisse commodo, ipsum sit amet sodales faucibus, massa nisi tristique nibh, eget ullamcorper arcu nibh nec elit. Vestibulum consequat cursus sem in pharetra. Curabitur vulputate convallis nunc, a dictum urna auctor non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc pharetra velit dui, a volutpat odio luctus quis. Suspendisse potenti. Fusce nec aliquet ligula. Vivamus efficitur augue suscipit velit dictum interdum. Morbi sit amet erat ex. Maecenas id sem elit. Phasellus pharetra, turpis sed vehicula tincidunt, dui elit tristique urna, a tristique lorem metus vitae justo. Praesent cursus risus nunc, eget feugiat diam fermentum egestas. Nunc vitae tempor erat, vestibulum pretium augue.</p>
    </div>
</div>

<style>
    .text-color {
        color: rgb(230, 230, 230);
    }
    h1, p {
        font-family: 'Gabarito', sans-serif;
    }
</style>
